<div class="ma_back">	
	<div class="row">
		<div class="ma_head">
			<h1 class="ma_title">CTJ<br>Madrichim</h1>
		</div>
	</div>
	<%= form_for :teen_new, url: {action: "create"} do |f| %>
		<div class="row">
			<h2>Submitting Form As: <%= @user.first_name %> <%= @user.last_name %> </h2>
		</div>
		<div class="row">
		  <div class="large-6 columns">
				<%= f.label :size, "T-Shirt Size" %>
				<%= f.select :size, options_for_select([
				  ["Youth Large",               "YL"],
				  ["Adult Small",               "AS"],
				  ["Adult Medium",              "AM"],
				  ["Adult Large",               "AL"],
				  ["Adult Extra Large",         "AXL"],
				  ["Adult Extra Extra Large",   "AXXL"]]) %>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<%= f.label :school, "School in the Fall" %>
				<%= f.text_field :school %>
			</div>
			<div class="large-6 columns">
				<%= f.label :grade, "Grade in the Fall" %>
				<%= f.select :grade, options_for_select([
					["Seventh Grade",		"7"],
					["Eighth Grade", 		"8"],
					["Freshman",				"9"],
					["Sophomore",				"10"],
					["Junior",					"11"],
					["Senior",					"12"]
					])%>
			</div>
		</div>
		<div class="row">
			<%= f.label :join, "Why would you like to join the madrichim program?" %>
			<%= f.text_area :join %>
		</div>
		<div class="row">
			<%= f.label :goal, "How do you hope to grow as a member of the madrichim program?" %>
			<%= f.text_area :goal %>
		</div>
		<div class="row">
			<%= f.label :jact, "What Jewish activites are you involved in?" %>
			<%= f.text_area :jact %>
		</div>
		<div class="row">
			<%= f.label :act, "What activities are you involved in outside of CTJ?" %>
			<%= f.text_area :act %>
		</div>
		<div class="row">
			<%= f.label :days %>
			<div class="large-4 columns">
				<%= f.check_box(:days, {}, "Sunday", "") %>
				<span class="ma_day">Sunday</span>
			</div>
			<div class="large-4 columns">
				<%= f.check_box(:days,{}, "Tuesday","") %>
				<span class="ma_day">Tuesday</span>
			</div>
			<div class="large-4 columns">
				<%= f.check_box(:days, {}, "Wednesday", "") %>
				<span class="ma_day">Wednesday</span>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<%= f.label :assign, "Request for Assignment" %>
				<div class="large-4 columns">
					<%= f.check_box(:assign, {}, "Classroom", "") %>
					<span class="ma_assign">Classroom</span>
				</div>
				<div class="large-4 columns">
					<%= f.check_box(:assign, {}, "Chug", "") %>
					<span class="ma_assign">Chug</span>
				</div>
				<div class="large-4 columns">
					<%= f.check_box(:assign, {}, "Office", "") %>
					<span class="ma_assign">Office</span>
				</div>
			</div>
			<div class="row">
				<%= f.text_field :request %>
			</div>
		</div>
		<div class="row">
			<%= f.label :youth, "Would you like to staff youth events?" %>
			<%= f.radio_button(:youth, "Yes") %>
			<span>Yes</span>
			<%= f.radio_button(:youth, "No") %>
			<span>No</span>
		</div>
		<div class="row ma_truth">
			By submitting this application, I affirm that the facts set forth in it are true and complete. I understand that if I am accepted as a Madrich/a, any false statements, omissions, and other misrepresentations made by me on this application may result in my immediate dismissal.
		</div>
		<div class="row">
			<%= f.submit "Submit", :class => "button" %>
		</div>
	<% end %>
</div>