<%= render partial: "shared/admin_nav" %>
<div class="ma_back">	
	<div class="row">
		<div class="large-12 columns ma_greet">
			<%= @teen.full_name %>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<span class="ma_formListTitle">Mid Year Evaluation</span>
			<ul class="ma_formList">
				<% @form_mid.each do |fn| %>
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), teen_mid_year_url(fn.id) %></li>
				<% end %>
			</ul>
		</div>
		<div class="large-6 columns">
			<span class="ma_formListTitle">Teacher Mid Year Evaluation</span>
			<ul class="ma_formList">
				<% @form_teach_mid.each do |fn| %>
					<li><%= link_to fn.user.full_name, teacher_mid_year_url(fn.id)%> <br><%= fn.updated_at.strftime("%m/%d/%Y")%></li>
				<% end %>
			</ul>
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<span class="ma_formListTitle">End of Year Evaluation and Reapplication</span>
			<ul class="ma_formList">
				<% @form_end.each do |fn| %>
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), teen_end_year_url(fn.id) %></li>
				<% end %>
			</ul>
		</div>
		<div class="large-6 columns">
			<span class="ma_formListTitle">Teacher End of Year Evaluation</span>
			<ul class="ma_formList">
				<% @form_teach_end.each do |fn| %>
					<li><%= link_to fn.user.full_name, teacher_end_year_url(fn.id)%> <br><%= fn.updated_at.strftime("%m/%d/%Y")%></li>
				<% end %>
			</ul>
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<span class="ma_formListTitle">Application</span>
			<ul class="ma_formList">
				<% @form_new.each do |fn| %>
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), teen_new_url(fn.id) %></li>
				<% end %>
			</ul>
		</div>
		<div class="large-6 columns">
			<span class="ma_formListTitle">Non-Returning</span>
			<ul class="ma_formList">
				<% @form_term.each do |fn| %>
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), teen_term_url(fn.id)%></li>
				<% end %>
			</ul>
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<span class="ma_formListTitle">Incidents Involved In</span>
			<ul class="ma_formList">
				<% @incident.each do |fn| %>
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), incident_url(fn.id) %><br><%= fn.user.full_name%></li>
				<% end %>
			</ul>
		</div>
		<div class="large-6 columns">
			<span class="ma_formListTitle">Incidents Reported</span>
			<ul class="ma_formList">
				<% @incident_r.each do |fn| %>
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), incident_url(fn.id)%></li>
				<% end %>
			</ul>
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<span class="ma_formListTitle">Interview Form</span>
			<ul class="ma_formList">
				<% @interview.each do |fn| %>
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), admin_interview_url(fn.id) %><br><%= fn.user.full_name%></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>