<div class="ma_back">	
	<div class="row">
		<div class="ma_head">
			<h1 class="ma_title">CTJ<br>Madrichim</h1>
		</div>
	</div>
	<%= form_for :teacher_mid_year, url: {action: "create"} do |f| %>
		<div class="row">
			<span class="large-12 columns ma_open"> Submitting form as: <%= @user.first_name %> <%= @user.last_name %> </span>
			<hr>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<%= f.label :teen_id, "Madrich/a Name:" %>
				<%= f.select :teen_id, options_from_collection_for_select(@teens, "_id", "full_name") %>
			</div>
			<div class="large-6 columns">
				<%= f.label :placement, "Assignment" %>
				<%= f.select :placement, options_for_select([
					["Kindergarten"],
					["First Grade"],
					["Second Grade"],
					["Third Grade"],
					["Fourth Grade"],
					["Fifth Grade"],
					["Cooking"],
					["Sports"],
					["Art"],
					["Drama"],
					["Music"],
					["Office"]]) %>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<span>
					Please rank your madrich/a in the following areas:
				</span>
				<%= f.label :aid, "Overall Classroom aid:" %>
				<%= f.select :aid, options_for_select([
					["Poor"],
					["Insufficient"],
					["Adequate"],
					["Excellent"]]) %>
				<%= f.label :initiative, "Taking inititive:" %>
				<%= f.select :initiative, options_for_select([
					["Poor"],
					["Insufficient"],
					["Adequate"],
					["Excellent"]]) %>
				<%= f.label :behave, "Helping manage classroom behavior:" %>
				<%= f.select :behave, options_for_select([
					["Poor"],
					["Insufficient"],
					["Adequate"],
					["Excellent"]]) %>
				<%= f.label :reliable, "Reliability:" %>
				<%= f.select :reliable, options_for_select([
					["Poor"],
					["Insufficient"],
					["Adequate"],
					["Excellent"]]) %>
				<%= f.label :srelation, "Relationship with Students:" %>
				<%= f.select :srelation, options_for_select([
					["Poor"],
					["Insufficient"],
					["Adequate"],
					["Excellent"]]) %>
			</div>
		</div>
		<div class="row">
			<%= f.label :overall_performance, "Please expand on the overall performance of this madrich/a" %>
			<%= f.text_area :overall_performance %>
		</div>
		<div class="row">
				<%= f.label :other_teens, "Please comment on the performace of any other madrichim other than those assigned to you." %>
			<%= f.text_area :other_teens %>
		</div>
		<div class="row">
			<%= f.submit "Submit", :class => "button" %>
			<%= link_to "Cancel", root_url, :class => "button" %>
		</div>
	<% end %>
</div>