<%= render partial: "shared/admin_nav" %>
<div class="ma_back">	
	<div class="row ma_flashalert">
		<%= flash.notice %>
	</div>
	<div class="row">
		<% @incidents.each do |fn| %>
			<ul>
				<li>
					<%= link_to fn.updated_at.strftime("%m/%d/%Y %h/%M"), incident_url(fn.id) %>
					<ul>
						<li><%= fn.user.full_name %></li>
						<li><%= fn.part_names %></li>
						<li><%= link_to "Delete", incident_url(fn.id), method: :delete %></li>
					</ul>
				</li>
			</ul>
		<% end %>
	</div>
</div>