<div class="ma_back">	
	<div class="row">
		<div class="ma_head">
			<h1 class="ma_title">CTJ<br>Madrichim</h1>
		</div>
	</div>
	<%= form_for :incident, url: {action: "create"} do |f| %>
		<div class="row">
			Reporter: <%= @user.full_name %>
		</div>
		<div class="row">
			<div class="ma_par">
				<%= f.label :participants %>
				<%= f.select :participants, options_from_collection_for_select(@teens, "_id", "full_name"),  {}, {:name => "incident[participants][]"} %>
			</div>
			<span>
				<a href="#" class="ma_paradd"> Add Participants </a>
			</span> 
		</div>
		<div class="row">
			<%= f.label :otherp, "Please list anyone who was not a Madrich/a that was involved." %>
			<%= f.text_area :otherp %>
		</div>
		<div class="row">
			<%= f.label :report, "Please Describe the Incident" %>
			<%= f.text_area :report %>
		</div>
		<div class="row">
			<%= f.submit "Submit", :class => "button" %>
			<%= link_to "Cancel", root_url, :class => "button" %>
		</div>
	<% end %>
</div>