<div class="ma_back">	
	<div class="row">
		<div class="ma_head">
			<h1 class="ma_title">CTJ<br>Madrichim</h1>
		</div>
	</div>
	<div class="row ma_greet">
		<%= @user.email %>
	</div>
	<div class="row ma_flashalert">
		<%= flash.alert %>
	</div>
	<div class="row">
		<%= form_for :user, url: reset_path, method: :put, html: { autocomplete: :off } do |f| %>
			<div class="large-6 columns">
		    <p>
			    <%= f.label :password %>
			    <%= f.password_field :password %>
			  </p>
			  <p>
			    <%= f.label :password_confirmation %>
			    <%= f.password_field :password_confirmation %>
			  </p>
			</div>
			<div class="row">
				<%= f.submit "Save Password", :class => "button" %>
			</div>
		<% end %>
	</div>
</div>