<%= render partial: "shared/admin_nav" %>
<div class="ma_back">	
	<div class="row ma_flashalert">
		<%= flash.notice %>
	</div>
	<div class="row">
		<% @teen_end.each do |fn| %>
			<ul>
				<li>
					<%= link_to teen.full_name, teen_end_year_url(fn.id) %>
					<ul>
						<li><%= fn.updated_at.strftime("%m/%d/%Y") %></li>
						<li><%= link_to "Edit", edit_teen_end_year_url(fn.id) %></li>
						<li><%= link_to "Delete", teen_end_year_url(fn.id), method: :delete %></li>
					</ul>
				</li>
			</ul>
		<% end %>
	</div>
</div>