<div class="ma_back">	
	<div class="row">
		<div class="ma_head">
			<h1 class="ma_title">CTJ<br>Madrichim</h1>
		</div>
	</div>
	<%= form_for :teen_end_year, url: {action: "create"} do |f| %>
		<div class="row">
			<h2>Submitting form as: <%= @user.first_name %> <%= @user.last_name %></h2>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<%= f.label :school, "School in the Fall" %>
				<%= f.text_field :school %>
			</div>
			<div class="large-6 columns">
				<%= f.label :grade, "Grade in the Fall" %>
				<%= f.select :grade, options_for_select([
					["Seventh Grade"],
					["Eighth Grade"],
					["Freshman"],
					["Sophomore"],
					["Junior"],
					["Senior"]
					])%>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<%= f.label :size, "T-Shirt Size" %>
				<%= f.select :size, options_for_select([
				  ["Youth Large",               "YL"],
				  ["Adult Small",               "AS"],
				  ["Adult Medium",              "AM"],
				  ["Adult Large",               "AL"],
				  ["Adult Extra Large",         "AXL"],
				  ["Adult Extra Extra Large",   "AXXL"]]) %>
			</div>
		</div>
		<div class="row">
			<%= f.label :change, "What would you change about this year? For the program? For yourself?" %>
			<%= f.text_area :change %>
		</div>
		<div class="row">
			<%= f.label :same, "What would you keep the same? For the program? For yourself?" %>
			<%= f.text_area :same %>
		</div>
		<div class="row">
			<%= f.label :grow, "What do you think you learned/How do you think you grew this year?" %>
			<%= f.text_area :grow %>
		</div>
		<div class="row">
			<%= f.label :days %>
			<div class="large-4 columns">
				<%= check_box_tag("teen_new[days][]", "Sunday") %>
				<span class="ma_day">Sunday</span>
			</div>
			<div class="large-4 columns">
				<%= check_box_tag("teen_new[days][]", "Tuesday") %>
				<span class="ma_day">Tuesday</span>
			</div>
			<div class="large-4 columns">
				<%= check_box_tag("teen_new[days][]", "Wednesday") %>
				<span class="ma_day">Wednesday</span>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<%= f.label :assign, "Request for Assignment" %>
				<div class="large-4 columns">
					<%= check_box_tag("teen_new[assign][]", "Classroom") %>
					<span class="ma_assign">Classroom</span>
				</div>
				<div class="large-4 columns">
					<%= check_box_tag("teen_new[assign][]", "Chug") %>
					<span class="ma_assign">Chug</span>
				</div>
				<div class="large-4 columns">
					<%= check_box_tag("teen_new[assign][]", "Office") %>
					<span class="ma_assign">Office</span>
				</div>
			</div>
			<div class="row">
				<%= f.text_field :request %>
			</div>
		</div>
		<div class="row">
			<%= f.label :youth, "Would you like to staff youth events?" %>
			<%= f.radio_button(:youth, "Yes") %>
			<span>Yes</span>
			<%= f.radio_button(:youth, "No") %>
			<span>No</span>
		</div>
		<div class="row">
			<%= f.submit "Submit", :class => "button" %>
			<%= link_to "Cancel", root_url, :class => "button" %>
		</div>
	<% end %>
</div>