<div id="ma_teacher_update_form">
	<%= form_for @teacher, url: user_path(@teacher) do |f| %>
		<div class="row">
			<p class="ma_open">Teacher ID: <%= @user.id %></p>
		</div>
  	<div class="row">
			<div class="large-6 columns">
				<%= f.label :first_name %>
				<%= f.text_field :first_name %>
			</div>
			<div class="large-6 columns">
				<%= f.label :last_name %>
				<%= f.text_field :last_name %>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<%= f.label :email %>
				<%= f.text_field :email %>
			</div>
		</div>
		<div class="row">
			<div>
				<%= f.submit :class => "small button" %>
			</div>
		</div>
	<% end %>
</div>