<div id="ma_teen_update_form">
	<%= form_for @teen, url: user_path(@teen) do |f| %>
		<div class="row">
			<div class="ma_open">Teen ID: <%= @user.id %></div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<%= f.label :first_name %>
				<%= f.text_field :first_name %>
			</div>
			<div class="large-6 columns">
				<%= f.label :last_name %>
				<%= f.text_field :last_name %>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<%= f.label :email %>
				<%= f.text_field :email %>
			</div>
		</div>
		<div class="row">
     <div class="large-6 columns">
        <%= f.label :home_phone %>
        <%= f.telephone_field :home_phone %>
      </div>
       <div class="large-6 columns">
        <%= f.label :cell_phone %>
        <%= f.telephone_field :cell_phone %>
      </div>
      <div class="large-6 columns">
        <%= f.label :birthday %>
        <%= f.date_field :born_on %>
      </div>
		</div>
		<div class="row">
			<div>
				<%= f.submit "Submit Madrich/a", :class => "small button" %>
			</div>
		</div>
	<% end %>
</div>