<%= render partial: "shared/admin_nav" %>
<div class="ma_back">	
  <div class="row">
  	<% @user.each do |fn| %>
  		<ul>
  			<li>
  				<%= fn.first_name %> <%= fn.last_name %>
  				<ul>
  					<li><%= fn._type %></li>
  					<li><%= link_to "Edit", edit_user_url(fn.id) %></li>
  					<li><%= link_to "Delete", user_url(fn.id), method: :delete %></li>
  				</ul>
  			</li>
  		</ul>
  	<% end %>
  </div>
</div>