<div class="ma_back">	
	<div class="row">
		<div class="ma_head">
			<h1 class="ma_title">CTJ<br>Madrichim</h1>
		</div>
	</div>
  <div class="row">
  	<table class = "large-12 columns">
			<thead>
				<tr>
					<td>Name</td>
					<td>Type</td>
					<td>Edit</td>
					<td>Delete</td>
				</tr>
			</thead>
			<tbody>
				<% @user.each do |fn| %>
				<tr>
					<td><%= fn.full_name %></td>
					<td><%= fn._type %></td>
					<td><%= link_to "Edit", edit_user_url(fn.id) %></td>
					<td><%= link_to "Delete", user_url(fn.id), method: :delete %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
  </div>
  <div class="row">
  	<%= link_to "Back to Dashboard", root_url, :class => "button" %>
  </div>
</div>