<%= render partial: "shared/admin_nav" %>
<div class="ma_back">	
	<div class="row ma_flashalert">
		<%= flash.notice %>
	</div>
	<div class="row">
		<div class="ma_sudent">
		</div>
	</div>
	<div class="row">
		<% @interview.each do |fn| %>
			<ul>
				<li><%= link_to fn.teen.full_name, admin_interview_url(fn.id) %>
					<ul>
						<li><%= fn.updated_at.strftime("%m/%d/%Y") %></li>
						<li><%= link_to "Edit", edit_admin_interview_url(fn.id) %></li>
						<li><%=	link_to "Delete", admin_interview_url(fn.id), method: :delete %></li>
					</ul>
				</li>
			</ul>
		<% end %>
	</div>
</div>