<%= render partial: "shared/admin" %>
<div class="ma_back">	
	<div class="row ma_greet">
		<%= @teen.full_name %>
	</div>
	<div class="row">
		<div class="ma_ail">Tell us about yourself.</div>
			<%= @interview.yourself %>
			<hr>
		</div>
		<div class="row">
			<div class="ma_ail">What experience do you have working with children? </div>
			<%= @interview.children %>
			<hr>
		</div>
		<div class="row">
			<div class="ma_ail">What are three of your strengths?</div>
			<%= @interview.strength %>
			<hr>
		</div>
		<div class="row">
			<div class="ma_ail">What are three of your weaknesses?</div>
			<%= @interview.weak %>
			<hr>
		</div>
		<div class="row">
			<div class="ma_ail">
				What do you think will challenge you most about this program?
			</div>
			<%= @interview.challenges %>
			<hr>
		</div>
		<div class="row">
			<div class="ma_ail">
				What age group do you think you will be most comfortable working with?
			</div>
			<%= @interview.groups %>
			<hr>
		</div>
		<div class="row">
			<div class="ma_ail">
				Do you have any other talents such as art or drama?
			</div>
			<%= @interview.talent %>
			<hr>
		</div>
		<div class="row">
			<div class="ma_ail">
				What would you do if someone asked you a question you didn't know the answer to?
			</div>
			<%= @interview.question %>
			<hr>
		</div>
		<div class="row">
			<div class="ma_ail">
				What would you do if you saw a child crying in the parking lot?
			</div>
			<%= @interview.crying %>
			<hr>
		</div>
		<div class="row">
			<div class="ma_ail">
				What would you do if a child was acting up during Tefillah?
			</div>
			<%= @interview.tefillah %>
			<hr>
		</div>
		<div class="row">
			<div class="ma_ail">
				Is there another Madrich/a that you think sets a good example?
			</div>
			<%= @interview.madrich %>
			<hr>
		</div>
		<div class="row">
			<div class="ma_ail">
				Is there anything else you think we should know?
			</div>
			<%= @interview.other %>
			<hr>
		</div>
	<div class="row">
		<%= link_to "Back to Madrich/a Page", teen_url(@teen), :class => "button" %>
	</div>
</div>