<%= render partial: @nav %>
<div class="ma_back">
	<div class = "row ma_greet">
		<%= @teen.full_name %>
	</div>
	<hr>
	<div class = "row">
		<div class = "ma_showl">Why Do You Want To Come On The Retreat? What Makes You Qualified?</div>
		<p><%= @retreat.want %></p>
		<hr>
	</div>
	<div class = "row">
		<div class = "ma_showl">Tell Us A Bedtime Story.</div>
		<p><%= @retreat.bedtime %></p>
		<hr>
	</div>
	<div class = "row">
		<div class = "ma_showl">Name Three Activities You Might Do If Your Group Arrived Early TO An Activity.</div>
		<p><%= @retreat.early %></p>
		<hr>
	</div>
	<div class = "row">
		<div class = "ma_showl">What Do You Hope To Get Better At Doing With Kids?</div>
		<p><%= @retreat.better %></p>
		<hr>
	</div>
	<div class = "row">
		<div class = "ma_showl">How Would You Help A Kid Who Was Homesick?</div>
		<p><%= @retreat.homesickness %></p>
		<hr>
	</div>
	<div class = "row">
		<div class = "ma_showl">Are You Afraid of Bodily Fluids? (i.e. urine, vomit, etc.)</div>
		<p><%= @retreat.afraid %></p>
		<hr>
	</div>
	<div class = "row">
		<div class = "ma_showl">Do You Have Any Concerns About Coming On The Retreat?</div>
		<p><%= @retreat.concern %></p>
	</div>
</div>