<%= render partial: "shared/admin_nav" %>
<div class="ma_back">
	<div class="row ma_greet">
		Welcome <%= @user.first_name %>!
	</div>
	<div class="row ma_flashalert">
		<%= flash.notice %>
	</div>
	<div class="row">
		<table class="large-12 columns">
			<thead>
				<tr>
					<th>Name</th>
					<th>E-Mail</th>
					<th>Cell Phone</th>
					<th>Home Phone</th>
					<th>Birthday</th>
				</tr>
			</thead>
			<tbody>
				<% @teens.each do |teen| %>
				<tr>
					<td><%= link_to teen.full_name, teen_url(teen) %> </td>
					<td><%= teen.email %></td>
					<td><%= teen.cell_phone %></td>
					<td><%= teen.home_phone %></td>
					<td><%= teen.born_on %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>