<%= render partial: "shared/admin_nav" %>
<div class="ma_back">
	<div class="row ma_greet">
		Welcome <%= @user.first_name %>!
	</div>
	<div class="row ma_flashalert">
		<%= flash.notice %>
	</div>
	<div class="row">
		<div class="large-12 columns ma_teenList">
			<ul>
				<% @teens.each do |teen| %>
					<li>
						<%= link_to teen.full_name, teen_url(teen) %>
						<ul>
							<li>Email: <%= teen.email %></li>
							<li>Cell Phone: <%= teen.cell_phone %></li>
							<li>Home Phone: <%= teen.home_phone %></li>
							<li>Birthday: <%= teen.born_on.strftime("%m/%d/%Y") %></li>
						</ul>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>