<%= render partial: "shared/teacher_nav" %>
<div class="ma_back">
	<div class="row ma_flashalert">
		<%= flash.notice %>
	</div>
	<div class="row">
		<div class="large-4 large-offset-4 columns heb ma_greet">
			שלום!
		</div>
	</div>
	<div class="row">
		<table class = "large-12 columns">
			<thead>
				<tr>
					<td>Incident Reports</td>
					<td>Madrichim Names</td>
					<td>Time Stamp</td>
				</tr>
			</thead>
			<tbody>
				<% @incident.each do |fn| %>
				<tr>
					<td><%= link_to fn.id, incident_url(fn.id) %></td>
					<td><%= fn.part_names %></td>
					<td><%= fn.updated_at %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row">
		<table class = "large-6 columns">
			<thead>
				<tr>
					<td>Mid-Year Evaluation</td>
					<td>Madrich/a Name</td>
					<td>Time Stamp</td>
				</tr>
			</thead>
			<tbody>
				<% @form_mid.each do |fn| %>
				<tr>
					<td><%= link_to fn.id, teacher_mid_year_url(fn.id) %></td>
					<td><%= fn.teen.full_name %></td>
					<td><%= fn.updated_at %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<table class = "large-6 columns">
			<thead>
				<tr>
					<td>End-Year Evaluation</td>
					<td>Madrich/a Name</td>
					<td>Time Stamp</td>
				</tr>
			</thead>
			<tbody>
				<% @form_end.each do |fn| %>
				<tr>
					<td><%= link_to fn.id, teacher_end_year_url(fn.id) %></td>
					<td><%= fn.teen.full_name %></td>
					<td><%= fn.updated_at %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>