<%= render partial: "shared/teacher_nav" %>
<div class="ma_back">
	<div class="row ma_flashalert">
		<%= flash.notice %>
	</div>
	<div class="row">
		<div class="large-4 large-offset-4 columns heb ma_greet">
			שלום!
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="ma_formListTitle">Incident Reports</div>
			<% @incidents.each do |fn| %>
				<ul class="ma_formList">
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), incident_url(fn.id) %>
						<ul><% fn.part_names.each do |name| %>
							<li><%= name %></li>
						</ul>
					</li>
				</ul>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="ma_formListTitle">Mid-Year Evaluations</div>
			<% @form_mid.each do |fn| %>
				<ul class="ma_formList">
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), teacher_mid_url(fn.id) %><br><%= fn.teen.full_name %></li>
				</ul>
			<% end %>
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="ma_formListTitle">End-Year Evaluations</div>
			<% @form_end.each do |fn| %>
				<ul class="ma_formList">
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), teacher_end_url(fn.id) %><br><%= fn.teen.full_name %></li>
				</ul>
			<% end %>
		</div>
	</div>
</div>