<div class="row">
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name"></li>
			<li class="toggle-topbar menu-icon">
				<a href="#">
					<span>Menu</span>
				</a>
			</li>
		</ul>
		<section class="top-bar-section">
			<ul class="left">
				<li class="ma_topbar"><%= @user.full_name %> </li>
				<li class="divider"></li>
				<li class="ma_topbar"><%= @user._type %> </li>
				<li class="divider"></li>
			</ul>
			<ul class="right">
				<li>
					<%= link_to "Incident Report", new_incident_url %>
				</li>
				<li class="divider"></li>
				<li class="has-dropdown">
					<a href="#">Forms</a>
					<ul class="dropdown">
						<li>
							<%= link_to "Mid-Year Form", new_teacher_mid_year_url  %>
						</li>
						<li>
							<%= link_to "End of Year Form", new_teacher_end_year_url %>
						</li>
					</ul>
				</li>
				<li class="divider"></li>
				<li>
					<%= link_to "Log Out", logout_url %>
				</li>				
			</ul>
		</section>
	</nav>
</div>
<div class="row ma_flashalert">
	<%= flash.notice %>
</div>
<div class="row">
	<div class="large-4 large-offset-4 columns heb ma_greet">
		שלום!
	</div>
</div>
<div class="row">
	<table class = "large-12 columns">
		<thead>
			<tr>
				<td>Incident Reports</td>
				<td>Madrichim Names</td>
				<td>Time Stamp</td>
			</tr>
		</thead>
		<tbody>
			<% @incident.each do |fn| %>
			<tr>
				<td> <%= link_to fn.id, incident_url(fn.id) %> </td>
				<td> <%= fn.part_names %>
				<td> <%= fn.updated_at %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="row">
	<table class = "large-6 columns">
		<thead>
			<tr>
				<td>Mid-Year Evaluation</td>
				<td>Madrich/a Name</td>
				<td>Time Stamp</td>
			</tr>
		</thead>
		<tbody>
			<% @form_mid.each do |fn| %>
			<tr>
				<td> <%= link_to fn.id, teacher_mid_year_url(fn.id) %> </td>
				<td> <%= fn.teen.full_name %> </td>
				<td> <%= fn.updated_at %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<table class = "large-6 columns">
		<thead>
			<tr>
				<td>End-Year Evaluation</td>
				<td>Madrich/a Name</td>
				<td>Time Stamp</td>
			</tr>
		</thead>
		<tbody>
			<% @form_end.each do |fn| %>
			<tr>
				<td> <%= link_to fn.id, teacher_end_year_url(fn.id) %> </td>
				<td> <%= fn.teen.full_name %> </td>
				<td> <%= fn.updated_at %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>