<%= render partial: "shared/teen_nav" %>
<div class="ma_back">
	<div class="row ma_flashalert">
		<%= flash.notice %>
	</div>
	<div class="row">
		<div class="large-4 large-offset-4 columns heb ma_greet">
			שלום!
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<div class="ma_formListTitle">Mid-Year Forms</div>
			<% @form_mid.each do |fn| %>
				<ul class="ma_formList">
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), teen_mid_year_url(fn.id) %></li>
				</ul>
			<% end %>
		</div>
		<div class="large-6 columns">
			<span class="ma_formListTitle">End of Year Evaluation and Reapplication</span>
			<% @form_end.each do |fn| %>
				<ul class="ma_formList">
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), teen_end_year_url(fn.id) %></li>
				</ul>
			<% end %>
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<div class="ma_formListTitle">Application</div>
			<% @form_new.each do |fn| %>
				<ul class="ma_formList">
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), teen_new_url(fn.id) %></li>
				</ul>
			<% end %>
		</div>
		<div class="large-6 columns">
			<div class="ma_formListTitle">Non-Returning</div>
			<% @form_end.each do |fn| %>
				<ul class="ma_formList">
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), teen_term_url(fn.id) %></li>
				</ul>
			<% end %>
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<div class="ma_formListTitle">Incident Reports</div>
			<% @incident.each do |fn| %>
				<ul class="ma_formList">
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), incident_url(fn.id) %></li>
				</ul>
			<% end %>
		</div>
		<div class="large-6 columns">
			<div class="ma_formListTitle">Retreat Application</div>
			<% @retreat.each do |fn| %>
				<ul class="ma_formList">
					<li><%= link_to fn.updated_at.strftime("%m/%d/%Y"), retreat_url(fn.id) %></li>
				</ul>
			<% end %>
		</div>
	</div>
</div>